@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /* Your preferred text font. Starlight uses a system font stack by default. */
  --font-sans: "Atkinson Hyperlegible";
  /* Your preferred code font. Starlight uses system monospace fonts by default. */
  --font-mono: "IBM Plex Mono";
/* Generated accent color palettes. */
--color-accent-200: #f1b2db;
--color-accent-600: #b90094;
--color-accent-900: #5a0347;
--color-accent-950: #3e0c31;
/* Generated gray color palettes. */
--color-gray-100: #f7f6f6;
--color-gray-200: #f0eded;
--color-gray-300: #c5c1c1;
--color-gray-400: #90898a;
--color-gray-500: #5d5657;
--color-gray-700: #3c3637;
--color-gray-800: #2b2525;
--color-gray-900: #1a1718;
}
